* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #1e1e1e;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #2E2E2E;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa81;
    border-radius: 25px;
    border: 1px solid #2E2E2E;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

header {
    background-color: #262626;
    height: 49px;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    width: 30px;
    height: 30px;
    margin: 10px;
}

header div i {
    color: #aaaaaa;
    font-size: 30px;
}

header .search-line {
    width: 250px;
}

.search-line input {
    width: 100%;
    height: 100%;
    padding: 0px 14px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #aaaaaa;
    border-radius: 15px;
    color: #aaaaaa;
}

.search-line input::placeholder {
    color: #aaaaaa;
}

.search-line input::-webkit-search-cancel-button {
    -webkit-appearance:none;
}

aside {
    background-color: #262626;
    width: 75px;
    height: 94vh;
    margin: 3px;
    padding: 10px 0px;
    transition: width 1s;
    z-index: 2;
    position: absolute;
    top: 49px;
}

aside:hover {
    width: 300px;
}
aside .sidebar {
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside #folder-container {
    height: 95%;
    /* background-color: rgb(231, 131, 0); */
    flex-direction: column;
    justify-content: normal;
    overflow-y: auto;
}

aside:not(:hover) #folder-container{
    overflow-y: hidden;
}

.folder {
    background-color: #1E1E1E;
    width: 90%;
    min-height: 60px;
    border-radius: 15px;
    margin: 3px 0;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
}

.image-folder {
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0px 8px;
}

.title-folder {
    /* background-color: aqua; */
    height: 25px;
    width: 65%;
    position: relative;
    bottom: 10px;
    left: 5px;
    color: #aaaaaa;
    font-size: 13px;
    transition: 0.5s ease-in-out;
}

aside:not(:hover) .folder {
    background-color: transparent;
}

aside:not(:hover) .title-folder {
    color: transparent;
}


#create-folder {
    width: 250px;
    height: 30px;
    background-color: #1e1e1e;
    border: none;
    border-radius: 15px;
    color: #aaaaaa;
    transition: opacity 0.5s linear;
}

#create-folder:hover {
    background-color: #333333;
}

#create-folder:active {
    background-color: #444444;
}

aside:not(:hover) #create-folder {
    opacity: 0;
    pointer-events: none;
}

main {
    height: 94vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
}

main div {
    width: 55vw;
    height: 35px;
}

main #notesContainer {
    /* background-color: red; */
    margin: 20px 0;
    height: 90%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-line input {
    width: 100%;
    height: 100%;
    padding: 1px 15px;
    background: #2E2E2E;
    border: none;
    outline: none;
    border: 2px solid #262626;
    border-radius: 15px;
    color: #aaaaaa;
}

.text-line input::placeholder {
    color: #aaaaaa;
}

.note {
    background-color: #aaaaaa;
    padding: 8px;
    margin: 0 0 11px 0;
    height: fit-content;
    width: fit-content;
    border-radius: 15px;
}