<!DOCTYPE html>
<html lang="en, ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="..\static\images\favicon.ico" type="icon/x-icon">
        <link rel="stylesheet" href="..\static\css\style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>katze Nilpferd</title>
    </head>
    
    <body>
        <header>
            <div>
                <i class='bx bx-menu' ></i>
            </div>
            <form action="">
                <div class="search-line">
                    <input type="search" placeholder="Поиск">
                </div>
            </form>
            <div>
                <i class='bx bx-user-circle' ></i>
            </div>
        <aside>

        </aside>
        <main>
        
        </main>
        <footer>

        </footer>
    </body>
</html>